<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">JSBukkit</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    {{#view view.NavItemView item="home"}}
                        <a {{action gotoHome}}>Home</a>
                    {{/view}}
                    {{#view view.NavItemView item="players"}}
                        <a {{action gotoPlayers}}>Players</a>
                    {{/view}}
                    {{#view view.NavItemView item="worlds"}}
                        <a {{action gotoWorlds}}>Worlds</a>
                    {{/view}}
                    {{#view view.NavItemView item="console"}}
                        <a {{action gotoConsole}}>Console</a>
                    {{/view}}
                    {{#view view.NavItemView item="plugins"}}
                        <a {{action gotoPlugins}}>Plugins</a>
                    {{/view}}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
